/* 公共部分 */

body {
    width: 100%;
    /*background-color: rgb(251, 251, 249);*/
}

.my_navbar {
    width: 100%;
    position: fixed;
    top: 0;
    /*background-color: rgb(245, 244, 237);*/
    background-color: white;
    font-family: '华光行楷_CNKI';
    font-size: 1.1em;
    padding-top: 10px;
    padding-bottom: 10px;
    /*flex布局*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
}

.my_nav_item {
    text-align: center;
    position: relative;
    transition: all 1s ease-in-out;
}

.nav_item_selected a {
    color: rgb(184, 18, 27) !important;
}

.my_nav_item a {
    color: rgb(127, 127, 127);
    text-decoration: none;
}

.nav_item_selected {
    font-size: 1.5em;
}

.nav_item_selected a::after {
    background-color: rgb(184, 18, 27);
    border-radius: 2px;
    content: '';
    position: absolute;
    bottom: 0;
    left: -25%;
    height: 10%;
    width: 150%;
}

.line {
    background-color: rgb(127, 127, 127);
    border-radius: 2px;
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 10%;
    width: 0;
    transition: all 1s ease-in-out;
}

.my_nav_item:hover .line {
    width: 150%;
    left: -25%;
}

.nav_item_selected .triangle-down {
    display: block;
}

.nav_item_selected .line {
    display: none;
}


/*
.triangle-down {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid rgb(184, 18, 27);
    position: absolute;
    left: 25%;
    display: none;
    /*
    bottom: -12px;
    border-top-width: 0px;
*/


/*
    bottom: 0;
    border-top-width: 0px;
    transition: all 0.5s ease-in-out;
}

.my_nav_item:hover .triangle-down {
    border-top-width: 12px;
    bottom: -12px;
}*/

.my_footer {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(20, 19, 17);
}

@media (max-width:767px) {
    .my_footer {
        flex-direction: column;
        align-items: center;
    }
    .my_footer_item {
        width: 50%;
    }
    .my_navbar {
        display: none;
    }
    .my_navbar2 {
        display: block;
        background-color: white;
    }
    .my_navbar2 .navbar-brand {
        color: rgb(184, 18, 27) !important;
        font-family: '华光行楷_CNKI';
        font-size: 1.5em;
        padding: 0;
    }
    .my_navbar2 button {
        float: right;
    }
    .my_navbar2 .nav-link {
        color: rgb(127, 127, 127);
        font-family: '华光行楷_CNKI';
        font-size: 1.1em;
    }
    .nav-item {
        position: relative;
        text-align: center;
    }
    .line {
        height: 6%;
    }
    .nav-item:hover .line {
        width: 60%;
        left: 20%;
    }
}

@media (min-width:768px) {
    .my_footer {
        flex-direction: row;
    }
    .my_footer_item {
        width: 25%;
    }
    .my_navbar2 {
        display: none;
    }
}

.my_footer_item {
    margin-top: 2rem;
    color: rgb(104, 104, 104);
    margin-bottom: 2rem;
}

.my_footer_item dt {
    margin-bottom: 0.6rem;
    font-size: 1em;
}

.my_footer_item dd {
    font-size: 0.9em;
}

.my_footer_item dd span {
    margin-right: 3%;
}


/* 以上是公共部分 */

#body {
    margin-top: 3.8rem;
}

.pixel-img {
    width: 100%;
    height: auto;
}

.news {
    margin-top: 2rem;
}

.news-title {
    width: 100%;
    border-bottom: 0.125rem solid rgb(184, 18, 27);
    margin-top: 3rem;
}

.title-box {
    margin: 0 auto !important;
    width: 20%;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    font-size: 1.5em;
    border: 2px solid rgb(184, 18, 27);
    text-align: center;
    position: relative;
    bottom: -2.5rem;
    /*background-color: rgb(251, 251, 249);*/
    background-color: white;
}

.title-text {
    position: relative;
    top: -2rem;
    /*background-color: rgb(251, 251, 249);*/
    background-color: white;
    width: 50%;
    text-align: center;
    left: 25%;
}

.news-subtitle {
    width: 40%;
    margin: 0 auto;
    font-size: 1.2em;
    margin-top: 4rem;
    color: rgb(127, 127, 127);
}

.news-block {
    width: 100%;
    margin-top: 3em;
    background-color: white !important;
}

.news-block1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
}

.news-block2 {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
}

.news-info {
    width: 50%;
    min-width: 10rem;
}

.news-img {
    width: 50%;
    min-width: 20rem;
}

.news-img img {
    width: 100%;
    height: auto;
}

.news-detail {
    width: 60%;
    margin-left: 20%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.news-date {
    width: 6rem;
    font-size: 0.9em;
    margin-bottom: 10px;
    position: relative;
    border-left: rgb(184, 18, 27) 0.3rem solid;
    border-radius: 0.2rem;
    padding-left: 0.4rem;
    background-color: rgba(184, 18, 27, 0.1);
}

.news-info-title {
    font-size: 1.3em;
    line-height: 2em;
}

.news-info-text {
    font-size: 1em;
    line-height: 2em;
    color: rgb(127, 127, 127);
}

.news-button {
    width: 40%;
    border: 1px solid black;
    padding: 0.5rem;
    text-align: center;
    margin-top: 1rem;
    transition: all 1s linear;
    position: relative;
}

.news-button:hover {
    background-color: rgb(184, 18, 27);
    border-color: white;
    color: white;
}

.news-button a {
    text-decoration: none;
    color: black !important;
    transition: all 1s linear;
}

.news-button:hover a {
    color: white !important;
}

@media (max-width:768px) {
    .news-img {
        width: 100%;
    }
    .news-info {
        width: 100%;
        margin-bottom: 2rem;
    }
}

.new-dishes {
    width: 100%;
    position: relative;
    margin-top: 1rem;
}

.new-dishes img {
    width: 100%;
    height: auto;
}

.new-dishes-detail {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.new-dishes-detail .card {
    margin-top: 4rem;
    width: 30%;
    height: auto;
}

.new-res {
    width: 100%;
    margin-top: 2rem;
    position: relative;
}

.new-res img {
    width: 100%;
    height: auto;
}

.new-res-info {
    position: absolute;
    width: 40%;
    padding: 6%;
    height: 80%;
    top: 10%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgb(231, 231, 231);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.new-res-name {
    font-size: 1.5em;
    text-align: center;
}

.new-res-text {
    margin-top: 0.8rem;
    line-height: 1.8em;
    text-indent: 2em;
}

.new-res-text span {
    margin-right: 0.5rem;
}

@media (max-width:768px) {
    .new-dishes-detail .card {
        width: 40%;
    }
    .new-res-info {
        width: 60%;
    }
    .new-res-name {
        font-size: 1.2em;
    }
    .new-res-text {
        margin-top: 0.2rem;
        line-height: 1.8em;
        text-indent: 1.6em;
        font-size: 0.8em;
    }
}

@media (max-width:500px) {
    .new-dishes-detail .card {
        width: 80%;
    }
    .new-res-info {
        position: relative;
        background-color: white;
        color: rgb(127, 127, 127);
        width: 100%;
    }
}